<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
                width: 800px;
                font-family: Arial,sans-serif;
            }
            span {
                margin: 10px 0px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img src="https://i.imgur.com/oUAKMC5.png" alt="logo rentx">
            <span>Ola! {{name}}</span>
            <br/>
            <span>Você solicitou alteração de senha.</span>
            <span>Para realizar a troca, clique no link abaixo</span>
            <a href={{link}}>{{link}}</a>
            <span>Caso não tenha sido você, favor ignorar essa mensagem.</span>
            <strong>Obrigado!</strong>
            <h3>Equipe | <strong>Rentx</strong></h3>
        </div>      
    </body>
</html>






